@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@1,500&family=Zilla+Slab:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: orange;
  --dark: #000;
  --light: #fff;
}
:root[data-theme="dark"] {
  background-color: var(--dark);
  color: var(--light);
}

:root[data-theme="light"] {
  background-color: var(--light);
  color: var(--dark);
}

.m10 {
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
